main {
    text-align: center;
}

#start-button {
    display: block;
    margin: 0 auto;
}

.speed {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 20px;
}

.speed input {
    margin: 0px 20px;
} 

.container {    
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: deeppink;
}

.mini-grid {
    margin-left: 12px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}


.operation {
    margin-left: 4px;
    margin-top: 10px;
}

.btn {
    background-color: yellow;
    margin-top: 10px;
    
}

.mini-grid div {
    width: 20px;
    height: 20px;
}