main {
    text-align: center;
}
h1 {
    font-size: 1.5em;
}

#start-button {
    display: block;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: blue;
    color: yellow;
}

#start-button:hover {
    background-color: yellow;
    color: blue;
}

.speed-range {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 20px;
}

.speed-range input {
    margin: 0px 20px;
}

.container {    
    display: flex;
    justify-content: center;
    margin: 30px auto 0px;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: deeppink;
}

.mini-grid {
    margin-left: 12px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}


.operation {
    margin-left: 4px;
    margin-top: 10px;
}

.btn {
    background-color: yellow;
    margin-top: 10px;
    
}

.mini-grid div {
    width: 20px;
    height: 20px;
}